@import url('./style/home.css');
@import url('./style/navbar.css');
@import url('./style/break-points.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  :root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    --blue-black: #11101D;
    --blue-white: #1D1B31;
    --color-white-1: #D9D9D9;
    --color-white-2: #E4E9F7;
    --color-gray: #24272B;
  }
  
  body {
    font-size: 1.6rem;
    background: var(--blue-white);
  }

  a {
    color: var(--color-white-1);
    text-decoration: none;
  }

  .flex {
    display: flex;
  }