* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
  }
  
  :root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    --blue-black: #11101D;
    --blue-white: #1D1B31;
    --color-white-1: #D9D9D9;
    --color-white-2: #E4E9F7;
    --color-gray: #24272B;
  }
  
  body {
    font-size: 1.6rem;
    background: var(--blue-white);
  }

  .flex {
    display: flex;
  }
  
  /*Header*/
  .logo {
    font-family: 'K2D', sans-serif;
    font-size: 3rem;
    margin-left: 3rem;
  }

  header nav {
    background: var(--blue-black);
    color: var(--color-white-1);
    height: 10vh;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    list-style: none;
  }
  
  header nav ul li a {
    color: var(--color-white-1);
  }

  #switch {
    position: relative;
    width: 6rem;
    /* margin: 1rem; */
  }
  
  #switch button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    margin: 0rem 0.4rem;
    background:var(--blue-black) no-repeat center;
    border: 0;
    border-radius: 50%;
    animation: slide-back .2s;
  }
  
  .light #switch button {
    animation: slide-in .2s forwards;
  }
  
  /* #switch button:hover {
    outline: 8px solid var(--color-white-1) ;
  }  */
  
  #switch span {
    display: block;
    width: 5.5rem;
    height: 2.5rem;
    background: var(--color-white-1);
    border: 1px solid var(--color-white-1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
  }

  @keyframes slide-in {
    from {
      left: 0
    }
    to {
      left: 50%
    }
  }
  
  @keyframes slide-back {
    from {
      left: 50%
    }
    to {
      left: 0
    }
  }